/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
html,
body {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  margin: 20px 40px 0px 40px;
  font-family: 'Pathway Gothic One', sans-serif;
}
*:before,
*:after {
  box-sizing: inherit;
}
@main h2: 1.5rem;
.nav-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.li-nav {
  padding-left: 50px;
  font-size: 1.5rem;
  font-style: oblique;
}
.major-head ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2%;
}
.major-head ul li {
  padding-left: 50px;
  font-size: 1.5rem;
  font-style: oblique;
}
.major-head ul a {
  text-decoration: none;
  color: black;
}
.major-head ul a:hover {
  color: blue;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .major-head ul {
    width: 100%;
    justify-content: center;
  }
  .major-head ul ul {
    padding-bottom: 2%;
  }
}
@media (max-width: 800px) {
  .major-head ul {
    width: 100%;
    justify-content: center;
  }
  .major-head ul ul {
    justify-content: center;
    font-size: 2rem;
  }
  .major-head ul li {
    padding: 0px 30px;
  }
}
.low {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1e3e8;
  border: 5px groove crimson;
  margin-top: 2%;
}
.picture {
  width: 40%;
  margin-top: 6%;
}
.btn {
  border-radius: 20%;
  margin: 2% 0% 2% 3%;
  padding: 1.5%;
  font-size: 2rem;
  color: white;
  background-color: grey;
}
.lower-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1e3e8;
  border: 5px groove crimson;
  margin-top: 2%;
}
.lower-head .pic-01 {
  width: 40%;
  margin-top: 6%;
}
.lower-head h1 {
  font-size: 5rem;
  text-align: center;
  width: 100%;
}
.lower-head p {
  font-size: 2rem;
  text-align: center;
  padding-top: 2%;
}
.lower-head button {
  border-radius: 20%;
  margin: 2% 0% 2% 3%;
  padding: 1.5%;
  font-size: 2rem;
  color: white;
  background-color: grey;
}
.lower-head button:hover {
  color: white;
  background-color: crimson;
}
@media screen and (max-width: 500px) {
  .lower-head {
    width: 100%;
  }
  .lower-head .pic-01 {
    width: 100%;
    padding-left: 0%;
  }
  .lower-head button {
    margin-left: 10%;
  }
}
@media screen and (max-width: 800px) {
  .lower-head {
    align-items: center;
    width: 100%;
  }
  .lower-head .pic-01 {
    width: 100%;
    padding-left: 0%;
  }
  .lower-head button {
    margin-left: 0%;
  }
}
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px black groove;
  padding: 5%;
  margin: 2% 0%;
}
.container-1 .main-content-1 {
  width: 40%;
}
.container-1 .main-content-1 h1 {
  font-size: 3rem;
}
.container-1 .main-content-1 p {
  font-size: 2rem;
}
.container-1 .main-content-2 {
  width: 40%;
}
.container-1 .main-content-2 h1 {
  font-size: 3rem;
}
.container-1 .main-content-2 p {
  font-size: 2rem;
}
.container-1 .main-content-2 ul li {
  padding: 5%;
  font-size: 2.5rem;
}
.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px groove red;
}
.container-2 .lower-content-1 {
  width: 100%;
}
.container-2 .lower-content-1 h1 {
  font-size: 3rem;
  margin-top: 2%;
  padding: 3%;
}
.container-2 .lower-content-1 table {
  width: 100%;
}
.container-2 .lower-content-1 table tr {
  text-align: center;
  font-size: 2rem;
}
.container-2 .lower-content-1 table tr td {
  padding: 2%;
}
.container-2 .lower-content-2 {
  margin-top: 2%;
  width: 100%;
}
.container-2 .lower-content-2 h1 {
  font-size: 3rem;
  padding: 3%;
}
.container-2 .lower-content-2 table {
  width: 100%;
}
.container-2 .lower-content-2 table tr {
  text-align: center;
  font-size: 2rem;
}
.container-2 .lower-content-2 table tr td {
  padding: 3%;
}
.footer-content {
  text-align: center;
  margin-top: 3%;
  font-size: 1.5rem;
}
